.container_formacao {
  background: #141414;
}
.formacao {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  gap: 10rem;

  max-width: 120rem;

  color: white;

  position: relative;
}
.formacao::after {
  content: '';
  display: block;
  width: 18rem;
  height: 14rem;
  background: url('../img/detalhe.svg') no-repeat center;
  position: absolute;
  top: 36rem;
  left: -6rem;
  z-index: 1;
}
.formacao .subtitulo {
  color: #000;
  max-width: 5ch;
}
.cursos,
.idiomas {
  margin-bottom: 3rem;
}
.formacao_extra h3 {
  font-size: 1.3rem;
  line-height: 1.2;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 1rem;
  position: relative;
}
.indentifyIcon {
  padding-right: 0.3rem;
  max-width: 2rem;
  position: absolute;
  left: -2.4rem;
  top: -0.2rem;
}
.formacao_extra li {
  font-size: 1.4rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
.formacao_extra .timeAndDate {
  color: #8f8f8f;
}
.informationIcon img {
  max-width: 1rem;
}
.informationIcon {
  position: relative;
}

.tooltip {
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;


  
  background-color: #8f8f8f;
  color: rgba(243, 243, 243, 0.959);
  text-align: left;
  border-radius: 6px 6px 6px 0px;
  padding: 0.5rem;
  left: 102%;
  top: -4.5rem;

  max-height: 6.1rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.informationIcon:hover .tooltip {
  opacity: 1;
  width: 18.4rem;
  font-size: 1.3rem;
  height: auto;
  transition: width 0s, height 0s, font-size 0s, opacity 0.3s;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}
.cursos a {
  text-decoration: none;
  color: white;
}
.cursos a:hover {
  color: #8f8f8f;
}

/*============= RESPONSIVO =============*/
@media (max-width: 700px) {
  .formacao {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-inline: 1.2rem;
  }
  .formacao .subtitulo {
    color: white;
    font-size: 3rem;
    max-width: initial;
    text-transform: capitalize;
  }
  .formacao::after {
    visibility: hidden;
  }
}
